body {
    min-height: 740px;
    background-color: #ddd;
}

.step {
    display: block;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);

    position: relative;

    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.step:not(.active) {
    opacity: 0.3;
}
